body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 944px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  color: #050606;
  text-decoration: none;
}

.link-with-icon {
  display: flex;
  align-items: center;
}

.link-with-icon__icon {
  margin-left: 4px;
  width: 12px;
  height: 12px;
  background-image: url(../images/arrows.svg);
  background-size: cover;
}

/* header */

.header {
  padding: 24px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.logo {
  display: block;
  width: 100px;
  height: 36px;
}

.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav {}

.nav__list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {}

.nav__link {
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.header__login {
  margin-left: 48px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.header__get-started {
  margin-left: 40px;
  background-color: #050606;
  border: 2px solid #050606;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #ffffff;
}

/* hero */

.hero {
  padding-top: 71px;
}

.hero__inner {}

.hero__title {
  margin: 0;
  color: #050606;
  font-weight: 400;
  font-size: 43px;
  line-height: 49px;
  letter-spacing: 2.4px;
}

.hero__subtitle {
  margin: 45px 0 0;
  color: rgba(5, 6, 6, 0.5);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.8px;
}

.hero__buttons {
  margin-top: 43px;
  display: flex;
  align-items: center;
}

.hero__get-started {
  background-color: #050606;
  border: 2px solid #050606;
  border-radius: 8px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 16px 38px;
}

.hero__book {
  margin-left: 48px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.hero__img-box {
  max-width: 1120px;
  margin: 80px auto 0 auto;
  padding: 0 15px;
}

.hero__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* chips-table */

.chips-table {}

.chips-table__row {
  display: flex;
  min-height: 167px;
}

.chips-table__col {
  flex: 1 1 50%;
}

.chips-table__col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 50px 0 48px;
}

.chips-table__title {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.chips-table__new {
  display: inline-block;
  color: #050606;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  margin-left: 8px;
  padding: 0 7px 0 4px;
}

.chips-table__desc {
  margin: 3px 0 0;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.4px;
}

.chips-table__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.chips-table__horizontal-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.05);
}

/* chips */

.chips {
  background-color: #f0f2f4;
  padding: 96px 0 256px;
}

.chips__inner {}

.chips__title {
  margin: 0;
  font-weight: 400;
  font-size: 54px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #050606;
}

.chips-table__title-wrapper {
  display: flex;
  align-items: center;
}

.chips__subtitle {
  margin: 25px 0 0;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.8px;
  color: rgba(5, 6, 6, 0.5);
}

.chips__table {
  margin-top: 91px;
  background-color: #202425;
  box-shadow: 0px 0px 0px #ffffff;
  border-radius: 16px;
}

/* cms */

.cms {
  padding: 254px 0 164px;
}

.cms__inner {
  display: flex;
}

.cms__title {
  margin: 0 0 0 90px;
  font-weight: 400;
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 3.2px;
  color: #050606;
}

.cms__subtitle {
  margin: 8px 0 0 80px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.8px;
  color: rgba(5, 6, 6, 0.5);
}

/* workflows */

.workflows {}

.workflows__inner {}

.workflows__title {
  margin: -12px 0 0;
  font-weight: 400;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 3.2px;
  color: #050606;
}

.workflows__subtitle {
  margin: 27px 0 0;
  color: rgba(5, 6, 6, 0.5);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.8px;
}

.workflows__img {
  margin-top: 40px;
  display: block;
  max-width: 100%;
  height: auto;
}

/* function-list */

.function-list {
  background-color: #ffffff;
  border-radius: 24px;
}

.function-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.function-list__item {
  padding: 47px 48px 49px;
}

.function-list__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.function-list__desc {
  margin: 4px 0 0;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #000000;
}

/* functions */

.functions {
  padding: 164px 0;
  background-color: #f0f2f4;
}

.functions__inner {}

.functions__title {
  margin: 0;
  font-weight: 400;
  font-size: 52px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #050606;
}

.functions__subtitle {
  margin: 24px 0 0;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.8px;
  color: rgba(5, 6, 6, 0.5);
}

.functions__list {
  margin-top: 83px;
}

/* templates */

.templates {
  background-color: #f0f2f4;
}

.templates__inner {
  display: flex;
  flex-direction: column;
}

.templates__title {
  margin: 0;
  font-weight: 400;
  font-size: 53px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
}

.templates__subtitle {
  margin: 32px 0 0;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #000000;
}

.templates__button {
  margin-top: 27px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #050606;
  border: 2px solid #050606;
  border-radius: 8px;
  padding: 15px 38px 17px;
  align-self: center;
}

.templates__grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px 34px;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
  border-radius: 16px;
  padding: 56px 56px 57px;
}

/* template-card */

.template-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template-card__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.template-card__title {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #000000;
}

.template-card__desc {
  margin: 3px 0 0;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

/* get-started */

.get-started {
  padding: 172px 0 176px;
}

.get-started__inner {}

.get-started__title {
  margin: 0;
  font-weight: 400;
  font-size: 53px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #000000;
}

.get-started__subtitle {
  margin: 25px 0 83px;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #000000;
}

/* check-text */

.check-text {
  display: flex;
  align-items: center;
}

.check-text__icon {
  width: 20px;
  height: 20px;
  background-image: url(../images/check.svg);
  background-size: cover;
}

.check-text__text {
  margin-left: 8px;
  line-height: 26px;
  color: #000000;
}

.check-text__new {
  margin-left: 6px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #f8e9ff;
  padding: 1px 7px 3px 4px;
  background-color: rgba(19, 12, 25, 0.5);
  border-radius: 4px;
}

/* get-started-card */

.get-started-card {
  padding: 47px 48px 48px;
  border-radius: 16px;
}

.get-started-card + .get-started-card {
  margin-top: 40px;
}

.get-started-card_v2 {
  background-color: #f8e9ff;
}

.get-started-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.get-started-card__price-wrapper {
  margin-top: 9px;
  display: flex;
}

.get-started-card__price {
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.get-started-card__month {
  margin: 27px 0 0 12px;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.get-started-card__desc {
  margin: 7px 0 41px;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: rgba(19, 12, 25, 0.5);
}

.get-started-card__check + .get-started-card__check {
  margin-top: 14px;
}

.get-started-card__button {
  display: block;
  margin-top: 38px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
  border-radius: 8px;
  border: 2px solid #050606;
  padding: 15px 0 17px;
}

.get-started-card__button_v2 {
  color: #ffffff;
  background-color: #000000;
}

/* banner */

.banner {
  background-color: #101314;
  padding: 172px 0 176px;
}

.banner__inner {
  display: flex;
  flex-direction: column;
}

.banner__title {
  margin: 0;
  font-weight: 400;
  font-size: 54px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3.2px;
  color: #ffffff;
}

.banner__subtitle {
  margin: 25px 0 0;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.banner__buttons {
  margin-top: 51px;
  align-self: center;
  display: flex;
  align-items: center;
}

.banner__started {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 13px 36px 15px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #050606;
}

.banner__demo {
  margin-left: 48px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

/* subscribe */

.subscribe {
  max-width: 500px;
  width: 100%;
}

.subscribe__input-wrapper {
  padding-bottom: 15px;
  display: flex;
}

.subscribe__input {
  flex-grow: 1;
  outline: 0;
  border-style: none;
}

.subscribe__button {
  margin-left: 12px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.35px;
  color: #ffffff;
  padding: 3px 8px 5px;
  background-color: #007dff;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.subscribe__text {
  margin: 6px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: rgba(5, 6, 6, 0.5);
}

/* social-link */

.social-link {
  display: block;
  width: 16px;
  height: 16px;
}

.social-link__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* links */

.links {}

.links__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #050606;
}

.links__list {
  list-style: none;
  margin: 26px 0 0;
  padding: 0;
}

.links__item + .links__item {
  margin-top: 20px;
}

.links__link {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.35px;
  color: #050606;
}

.links__link_14px {
  font-size: 14px;
}

/* footer */

.footer {
  padding: 128px 0 65px;
}

.footer__inner {}

.footer__row {
  display: flex;
}

.footer__top-row {
  padding-bottom: 96px;
}

.footer__header {
  max-width: 182px;
}

.footer__logo {
  width: 111px;
  height: 40px;
}

.footer__header-text {
  margin-top: 33px 0 0;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.45px;
  color: #000000;
}

.footer__socials {
  display: flex;
  gap: 24px;
}

.footer__grid {
  margin: 6px 0 0 64px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 47px 83px;
}

.footer__links {}

.footer__links_padding_10 {
  padding-left: 10px;
}

.footer__horizontal-line {
  background-color: #e7e7e7;
  height: 1px;
}

.footer__center-row {
  padding: 96px 0 103px;
}

.footer__info {}

.footer__subscribe {
  margin: 20px 0 0 auto;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1.2px;
  color: #050606;
}

.footer__desc {
  margin: 14px 0 0;
  font-size: 11px;
  line-height: 26px;
  color: rgba(5, 6, 6, 0.75);
}

.footer__bottom-row {
  margin-top: 40px;
}

.footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(5, 6, 6, 0.75);
}

.footer__terms,
.footer__cookies {
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #050606;
}

.footer__terms {
  margin-left: auto;
  line-height: 18px;
}

.footer__cookies {
  margin-left: 24px;
  line-height: 14px;
}
